.sidebar {
  background: black;
  color: white;
  padding: 1em;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
  margin-bottom: 10px;
}
.copyright {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}
