.keyData {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfbfb;
  padding: 0.5rem;
  width: 250px;
  border-radius: 5px;
  height: 124px;
}

.image {
  margin-right: 15px;
}

.count {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.name {
  color: #74798c;
}
