.main {
  margin: auto;
  max-width: 1440px;
}
.container {
  margin: 130px 50px 50px 170px;
}
.name {
  font-weight: 500;
  font-size: 48px;
}
.name span {
  color: var(--main-color);
}

.message {
  margin: 20px 0;
  font-size: 18px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.smallCharts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.keyData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  margin: 450px auto auto auto;
  width: 100px;
}

.loader {
  display: flex;
  justify-content: center;
  padding: 30px;
  border: 6px solid var(--main-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loader 2s infinite linear;
  height: 0;
  width: 0;
}

@media (max-width: 1329px) {
  .stats {
    flex-wrap: wrap;
  }
  .keyData {
    display: grid;
    width: 824px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }
}
