.main {
  margin: auto;
  max-width: 1440px;
}
.container {
  margin-left: 150px;
  margin-top: 30px;
}
.name {
  font-weight: 500;
  font-size: 40px;
}
.name span {
  color: var(--main-color);
}

.message {
  margin: 20px 0;
  font-size: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.smallCharts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  margin: 300px auto auto auto;
  width: 100px;
}

.loader {
  display: flex;
  justify-content: center;
  padding: 30px;
  border: 6px solid var(--main-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loader 2s infinite linear;
  height: 0;
  width: 0;
}
