/*Variables*/
html {
  --main-color: #ff0101;
  --secondary-color: #282d30;
}
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}
